@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";


@theme {
  --color-*: initial;
  --color-blue: hsl(180, 66%, 49%);
  --color-purple: hsl(257, 27%, 26%);
  --color-red: hsl(0, 87%, 67%);
  --color-black: #1f2937;
  --color-white: hsl(0, 0%, 100%);
  --color-gray: oklch(70.9% 0.01 56.259);
  --color-light-gray: #f0f1f6;
  --font-poppins: "Poppins", sans-serif;
  --animate-slide-in: slide-in 0.5s ease-out forwards;

  @keyframes slide-in {
    0% {
      opacity: 0%;
      transform: translateY(-10px);
    }

    100% {
      opacity: 100%;
      transform: translateY(0px);
    }
  }
}

@layer base {

  *,
  *::before,
  *::after {
    @apply font-poppins;
  }

  body {
    @apply m-0 p-0 overflow-x-hidden;
  }

  td {
    @apply py-1 px-3
  }

  tbody th {
    @apply p-3 text-start border-b border-blue
  }
}

@layer utilities {
  .container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
  }

  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-slide-in-right {
    animation: slideInRight 0.6s ease-in forwards;
  }

  .animate-slide-in-left {
    animation: slideInLeft 0.6s ease-out forwards;
  }
}

@layer components {
  @media (min-width: 1024px) {
    .blog_template {
      background: linear-gradient(to right, var(--color-blue) 0%, var(--color-blue) 50%, var(--color-light-gray) 50%, var(--color-light-gray) 100%);
    }

    .article_template {
      background: linear-gradient(to right, var(--color-red) 0%, var(--color-red) 50%, var(--color-light-gray) 50%, var(--color-light-gray) 100%);
    }
  }
}